.page {
  transition: transform 0.5s, opacity 0.5s;
  transform: translate3d(0, 0, 0);
}
.page.transition-appear {
  opacity: 0.01;
}

.page.transition-appear.transition-appear-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.page.transition-leave {
  opacity: 1;
}

.page.transition-leave.transition-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
