.wrapper-main{
    display: grid;
    grid-template-columns: 2fr auto;

}

html{
    height:100%
}
body{
    min-height: 100%;
}

.logo{
   width: 75px;
   
}

.matching-dashboard-wrapper-page{
    height: 100%;
}

.matching-main{
    margin-top: 30px;
}
/* 
.logo{
    grid-area: logo;
}

.matching-main{
    grid-area: main;
}

.my-matches-button{
    grid-area: matchbutton;
}

.matching-dashboard-wrapper-page{
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto;
    grid-template-areas:
        "..... logo ....."
        "main main main"
        "..... matchbutton ....."
} */

