/* Home Page */
    /* Avery to Grid */

/* Buyer Login */
    /* Nick to Grid */
    .wrapper-buyer-login{
        display: grid;
        grid-template-columns: 70% 30%;
        grid-template-rows: 100% 100%;
        text-align: center;
    }
    .bloginwrapper{
        text-align: center;
    }

/* Seller Login */
    /* Nick to Grid */
    .wrapper-seller-login{
        display: grid;
        grid-template-columns: 70% 30%;
        grid-template-rows: 100% 100%;
    }

    .sellwrapper{
        text-align: center;
    }

/* Buyer Create Profile  */
    /* Nick to Grid */
    .wrapper-create-profile{
        display: grid;
        grid-template-columns: 70% 30%;
        grid-template-rows: 100% 100%;
    }

/* Buyer Matching */
    /* Avery to Grid */
    .wrapper-matching{
        display: grid;
        grid-template-columns: 70% 30%;
        grid-template-rows: 100% 100%;
    }


/* Seller Dashboard */
    /* Nick to Grid */
    .wrapper-seller-dashboard{
        display: grid;
        grid-template-columns: 70% 30%;
        grid-template-rows: 100% 100%;
    }