/* matching styling */
.matches {
    grid-area: matches;
    }
  
.header {
    grid-area: header;
    text-align: center;
      }

  
  
.wrapper {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "header header header"
        ". matches sidebar";
    background-color: #fff;
    color: #444;
      }



/* sellerLogin styling */
/* wrapping div */
.sellLogin{
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 100% 100% ;
    
}


/* home page */

/* .fullHome {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100% 100% 100%;
    grid-template-areas: 
        ".........."
        "logo"
        ".........."
} */

.Home {
    background: url('./imgs/option1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center;
    height: 100%;
    bottom: 0;
    padding: 18.5%;

    color: white;
    font-weight: bold;
}


#logo {
    width: 35%;
    margin-bottom: 3%;

}

.button {
    margin: 16;
    width: 30%;
}

.buttons {
    margin-top: 0;

}


