h2{
    font-size: 30px;
}

.logo-heart{
    height: 30px;
    margin-top: 30px;
}

.header-component{
    display: grid;
    grid-template-columns: 200px 1fr;
    background-color:#ffd2e8;

}

.header-tagline{
    display: grid;
    grid-template-columns: 50px 1fr;
    width: 500px;
    margin: auto;
}