.component-wrapper{
    align-items: center;
    padding-top: 25%;
    
}

.signUp{
    margin: auto;
    width: 50%;
    text-align: center;
    font-size: 60px;
}

hr{
    width: 50%;
    margin-bottom: 50px;
}

.google-login-button{
    color: white;
    background-color:#ff4081;
    border: none;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    width: 200px;
    margin: auto;
}