/* 
.signUp {
    grid-area: signUp;

    font-size: 175%;
    }
  
.buttons {
    grid-area: buttons;

    font-size: 125%;
    }
  



.sellerLink {
    grid-area: link;
    font-size: 135%;
    text-align: center;
    padding: 2%;
      }
  
  
.wrapper {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr;
    grid-template-rows: 100%;
    grid-template-areas:
        "signUp signUp signUp"
        "....... buttons ......"
        "link link link";
    background-color: #fff;
    color: #444;
      } */
