.component-wrapper{
    align-items: center;
    padding-top: 25%;
    
}



.signUp{
    margin: auto;
    width: 50%;
    font-family: 'Raleway', sans-serif;
    text-align: left;
    font-size: 80px;

}

.buttons{
    margin-top: 15px;
    margin: auto;
    width: 200px;
    text-align: center;
}

hr{
    width: 50%;
    margin-bottom: 50px;
}
