body {
    margin: 40px;
  }
  
.signUp {
    grid-area: signUp;
    text-align: center;
    font-size: 175%;
    }
  
.buttons {
    grid-area: buttons;
    text-align: center;
    font-size: 125%;
    }
  
.header {
    grid-area: header;
    text-align: center;
      }

img {
    align-items: center;
}
  
.sellerLink {
    grid-area: link;
    font-size: 135%;
    text-align: center;
    padding: 2%;
      }
  
  
.wrapper {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "header header header"
        "signUp signUp signUp"
        "....... buttons ......"
        "link link link";
    background-color: #fff;
    color: #444;
      }
